<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452602951516-3lvc5tahd35igak5sehp73f1odm6l8ui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452602951516-3lvc5tahd35igak5sehp73f1odm6l8ui</string>
	<key>API_KEY</key>
	<string>AIzaSyDAM3rI3s2RhPqchn-BNgQ7gch-6NBjhv8</string>
	<key>GCM_SENDER_ID</key>
	<string>452602951516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexprogramms</string>
	<key>PROJECT_ID</key>
	<string>taxi-app-7febe</string>
	<key>STORAGE_BUCKET</key>
	<string>taxi-app-7febe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452602951516:ios:f474153bb0b85b2d7e7399</string>
</dict>
</plist>